*
{
    font-family: "Raleway", serif;
}

.about-the-author
{
    font-weight: bold;
    font-size: 2rem;
    color: black;
}

.title 
{
    font-size: 75px;
    letter-spacing: 5px;
    color: rgb(66, 66, 66);
}

.body-content 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#breed
{
    padding: 10px;
    margin-top: 20px;
    width: 800px;
    height: 20px;
    border: none;
    border-radius: 50px;
    background-color: #f0f0f0;
    font-size: 1.2rem;
    text-align:center;
    transition: background-color 0.3s ease-in-out;
}

.wallie-container
{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
}

.wallie-image
{
    border-radius: 20%;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.fun-facts
{
    color:green;
}

ul
{
    text-align: left;
    font-size: 1.2rem;
    color:darkgoldenrod;
}

.button-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}

button
{
    padding: 12px 20px;
    border: none;
    border-radius: 100px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 10px;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    color: white;
    background-color: burlywood;
}

button:hover
{
    cursor: pointer;
    transform: scale(1.05);
}

#submit
{
    background-color: brown;
}

#submit:hover 
{
    background-color: brown;
}
   
#random
{
    animation-name: color-change;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    width: 200px;
}

@keyframes color-change
{
    0%
    {
        background-color: red;
    }

    20%
    {
        background-color: orange;
    }

    40%
    {
        background-color:green;
    }

    60%
    {
        background-color: blue;
    }

    80%
    {
        background-color: purple;
    }

    100%
    {
        background-color: red;
    }
    
}

p {
    font-size: 1.5rem;
    margin: 10px 0;
  }